<p>home works!</p>
<div #view>App is running</div>
<button #btn (click)="showAdditionalInfo()">Show Additional Info</button>

<!-- @defer (when showInfo) { -->
<!-- @defer (on viewport) { -->
<!-- @defer (on timer(5s)) { -->
<!-- @defer (on viewport; on timer(5s)) { -->
<!-- @defer (on viewport; when showInfo) { -->
<!-- @defer (on idle) { -->
<!-- @defer (on viewport(view)) { -->
<!-- @defer (on interaction) { -->
<!-- @defer (on interaction(btn)) { -->
@defer (on hover()) {
<!-- @defer (on hover(btn)) { -->
<!-- @defer (on immediate) { -->
<!-- @defer (when showInfo; prefetch on idle) { -->

<app-additional-info />
}@placeholder {
<div>Dynamic content will appear here</div>
}@loading (after 1000ms; minimum 1s) { <app-loading /> } @error {
<app-errors /> }
